@media only screen and (min-width: 200px) and (max-width:3800px){
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.frost{
    z-index: 9999;
    width: 1000px;
    height:900px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    display: flex;
    background-image:linear-gradient(to bottom right, var(--cadet-blue), rgba(177, 8, 8, 0));
    backdrop-filter: "blur(10px)";
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    flex-direction: row;
    align-items: center;
}
.header{  
    color: var(--baby-powder);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.work{
    color: var(--sky-blue);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
}
.date{
    color: var(--light-coral);
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
}
.info{
    color: var(--honeydew);
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
}
.workContainer{
    height: auto;
    width: 800px;
    padding: 10px;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-top: 15px;
}

/* button{
    
    height: 50px;
    width: 100px;
    color:var(--old-mauve);
    background-color: var(--satin-sheen-gold);
}
button:hover{
    color: var(--satin-sheen-gold);
    background-color: var(--old-mauve);
    cursor: pointer;
} */
}