@media screen and (min-width: 200px) and (max-width:3800px){
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.frost{
    z-index: 9999;
    width: 1000px;
    height:900px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    display: flex;
    background-image:linear-gradient(to bottom right, var(--cadet-blue), rgba(177, 8, 8, 0));
    backdrop-filter: "blur(10px)";
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    flex-direction: column;
    align-items: center;
} */

.title{
    color: var(--baby-powder);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.header{  
    color: var(--sky-blue);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
    
}
.app{
    color: var(--light-coral);
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
}
.stackContainer{
  
    height: 600px;
    width: 600px;
    padding: 10px;
}
/* .buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-top: 15px;
} */

/* button{
    height: 50px;
    width: 100px;
    color:var(--persian-plum);
    background-color: var(--satin-sheen-gold);
    border-radius: 50px;
}
button:hover{
    color: var(--satin-sheen-gold);
    background-color: var(--persian-plum);
    cursor: pointer;
} */
/* a{
    color: var(--baby-powder)
  }
  a:hover{
  color: var(--satin-sheen-gold)
  }
  a:visited{
    color: var(--persian-plum)
  }
  a:active{
    color: var(--sky-blue)
  } */
}