/* really only use vh (view height) on the outer most div so that you establish the whole canvas for your page */
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
} */
.frost{
    z-index: 9999;
    width: 80%;
    max-width: 900px;
    height:80%;
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to bottom right, var(--cadet-blue), rgba(177, 8, 8, 0));
    backdrop-filter: "blur(10px)";
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    flex-direction: column;
    align-items: center;
}
.name{  
    color: var(--baby-powder);
    width: 100%;
    padding-bottom: -10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.bio{
    color: var(--light-coral);
    width: 50%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.me{
    
    height: 200px;
    width: 200px;
    padding: 10px;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

button{
    
    height: 50px;
    width: 100px;
    color:var(--persian-plum);
    background-color: var(--satin-sheen-gold);
}
button:hover{
    color: var(--satin-sheen-gold);
    background-color: var(--persian-plum);
    cursor: pointer;
}
/* refector and get the frost base styles into app.css instead and also you can call two css files into one file */
/* once v1.0.5 is done, then everything will be fixed, probably */
@media only screen and (max-width: 540px){
.buttonContainer{
    flex-direction: column;
    align-items: center;
}
.frost{
    height: 90vh;
}
}
