/* Video by Frank Cone from Pexels */
/* used https://getavataaars.com/ */
/* Attributions from FlatIcon: 
Twitter icons created by Pixel Perfect
Linkedin icons created by Pixel Perfect 
Github icons created by Pixel Perfect */

/* Colors */
:root{
--sky-blue: hsla(196, 85%, 72%, 1);
--satin-sheen-gold: hsla(41, 59%, 49%, 1);
--light-coral: hsla(356, 71%, 73%, 1); 
--baby-powder: hsla(100, 100%, 99%, 1);
--oxford-blue: rgb(1, 15, 37);
--persian-plum: hsla(355, 76%, 24%, 1);
--cadet-blue: rgba(97, 150, 153, 0.705);
--honeydew: hsla(102, 100%, 96%, 1);
}
/* Font */
 
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  background-color: var(--oxford-blue);
}

/* .frost{
    z-index: 9999;
    width: 80%;
    max-width: 900px;
    height:80%;
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to bottom right, var(--cadet-blue), rgba(177, 8, 8, 0));
    backdrop-filter: "blur(10px)";
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    flex-direction: column;
    align-items: center;
} */

/* header{
  z-index: 9999;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  letter-spacing: .1rem;
  font-size: .8em;
} */

