/* Video by Frank Cone from Pexels */

/* Colors */
:root{
--old-mauve: hsla(339, 54%, 28%, 1);
--persian-green: hsla(171, 50%, 40%, 1);
--camel: hsla(31, 54%, 59%, 1);
--baby-powder: hsla(100, 100%, 99%, 1);
--prussian-blue: hsla(208, 42%, 19%, 1);
}
/* Font */


body{
  background-color: var(--prussian-blue);
}

header{
  z-index: 9999;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  letter-spacing: .1rem;
  font-size: .8em;
}